@model MyFootballMvc.ViewModels.TeamsCreateViewModel
@{
  ViewData["Title"] = "CreateOrUpdate";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner bcolor-1">
    <h2 class="banner-header">Create a Team</h2>
</div>

  <div class="page-create-or-update-team main-container container">
    <div class="main-content">
      @using (Html.BeginForm("CreateOrUpdate", "Teams", FormMethod.Post))
      {
        <div class="form-group">
          @Html.LabelFor(m => m.Team.Name)
          @Html.TextBoxFor(m => m.Team.Name, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Team.Name)
        </div>
        <div class="form-group">
          @Html.LabelFor(m => m.Team.ShortName)
          @Html.TextBoxFor(m => m.Team.ShortName, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Team.ShortName)
        </div>

        <div id="cp1" class="input-group colorpicker-component">
          @Html.LabelFor(m => m.Team.Color1)
          @Html.TextBoxFor(m => m.Team.Color1, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Team.Color1)
          <span class="input-group-addon"><i></i></span>
        </div>
        <div id="cp2" class="input-group colorpicker-component">
          @Html.LabelFor(m => m.Team.Color2)
          @Html.TextBoxFor(m => m.Team.Color2, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Team.Color2)
          <span class="input-group-addon"><i></i></span>
        </div>
        <div id="cp3" class="input-group colorpicker-component">
          @Html.LabelFor(m => m.Team.Color3)
          @Html.TextBoxFor(m => m.Team.Color3, new { @class = "form-control" })
          @Html.ValidationMessageFor(m => m.Team.Color3)
          <span class="input-group-addon"><i></i></span>
        </div>

        @Html.HiddenFor(m => m.Team.Id)
        if (Model.ViewType == MyFootballMvc.ViewModels.ViewType.Create)
        {
          <button type="submit" class="btn btn-primary">Create</button>
        }
        else
        {
          <button type="submit" class="btn btn-primary">Update</button>
        }
      }
    </div>
  </div>

  @section Scripts {
    <script src="//cdn.rawgit.com/twbs/bootstrap/v4.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
  }

  @section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
  }