@model MyFootballMvc.ViewModels.ManagerViewModel

@{
    ViewData["Title"] = "Managers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-managers main-container container">
    <h2>Managers</h2><br />

    <div class="main-content">
        @if (Model.Managers.Count != 0)
        {
            <table class="table table-striped table-bordered" id="all-clubs-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Team</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var manager in Model.Managers)
                    {
                    <tr>
                        <td>@Html.ActionLink(@manager.User.FirstName, "Id", new { manager.Id }) @Html.ActionLink(@manager.User.LastName, "Id", new { manager.Id })</td>
                        @if (manager.TeamId != null)
                        {
                       <td>@Html.ActionLink(Model.Teams.Find(i => i.Id == manager.TeamId).Name, "Id", "Club", new { manager.TeamId })</td>
                        }
                        else
                        {
                            <td>None</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p id="none"> There isn't any manager...</p>
        }
    </div>
</div>
