@model MyFootballMvc.ViewModels.PlayerViewModel

@{
    ViewData["Title"] = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-player-by-id main-container container">
    <h2>Player</h2>

    <div class="main-content">
        <ul>
            <li>@Html.LabelFor(p => p.Player.User.FirstName): @Model.Player.User.FirstName</li>
            <li>@Html.LabelFor(p => p.Player.User.LastName): @Model.Player.User.LastName</li>
            <li>@Html.LabelFor(p => p.Player.Position): @Model.Player.Position</li>
            @if (Model.Player.TeamId != null)
            {
            <li> Club: @Model.Teams.Find(i => i.Id == Model.Player.TeamId)</li>
            }
            <li>@Html.LabelFor(p => p.Player.PlayerStatus): @Model.Player.PlayerStatus</li>
            <li>@Html.LabelFor(p => p.Player.Number): @Model.Player.Number</li>
            <li>@Html.LabelFor(p => p.Player.IsCaptain): @Model.Player.IsCaptain</li>
        </ul>
    </div>
</div>

