@model MyFootballMvc.ViewModels.PlayerViewModel

@{
    ViewData["Title"] = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner bcolor-5">
    <h2 class="banner-header">@Model.Player.User.FirstName @Model.Player.User.LastName</h2>
</div>

<div class="page-player-by-id main-container container">

    <div class="main-content">
        <ul>
            <li>@Html.LabelFor(p => p.Player.Avatar): @Model.Player.Avatar</li>
            <li>Name: @Model.Player.User.FirstName @Model.Player.User.LastName</li>
            <li>@Html.LabelFor(p => p.Player.Position): @Html.DisplayFor(model => Model.Player.Position)</li>
            @if (Model.Player.TeamId != null && Model.Player.TeamId != "")
            {
            <li> Club: @Model.Teams.Find(i => i.Id == Model.Player.TeamId).Name</li>
            }
            else
            {
                <li>Club: None</li>
            }
            <li>@Html.LabelFor(p => p.Player.IsCaptain): @Model.Player.IsCaptain</li>
        </ul>
    </div>
</div>
