@model MyFootballMvc.ViewModels.PlayerViewModel

@{
    ViewData["Title"] = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }

    a:link { color: rgba(29, 127, 222, 0.71); }

    /*a:visited {
        color: rgba(29,127,222,0.71);
    }*/

    a { transition: color 2s ease; }

    /*a:hover {
            color: #fff;
        }*/

    .page {
        background-attachment: fixed;
        background-image: url("s1200.jpg");
        background-position: bottom 0 left 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .page-head {
        background-color: #c9e6ff;
        height: 280px;
        position: relative;
        transition: opacity 1s ease;
    }

    /*.page-head:hover {
            opacity: 0.8;
        }*/

    .person {
        display: flex;
        height: 100%;
        justify-content: flex-start;
        margin: 0 auto;
        width: 80%;
    }

    .person-image-container {
        position: relative;
        width: 250px;
    }

    .person-image {
        bottom: 0;
        display: block;
        position: absolute;
        width: 250px;
        z-index: 999;
    }

    .page-head-text {
        color: #FF220C;
        font-size: 35px;
        margin-left: 50px;
        padding-top: 80px;
        z-index: 1000;
    }

    .person-number-big {
        color: #FF220C;
        font-size: 310px;
        opacity: 0.7;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(0, -20%);
    }

    .page-main { color: #fff; }

    .page-main-wrap {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 30px 0;
        width: 80%;
    }

    .left-section {
        height: fit-content;
    }

    .basic-details-list {
        padding: 10px;
    }

    .basic-details-list:hover { border-radius: 10px; }

    .detail {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
    }

    .detail-name {
        color: black;
        font-weight: 600;
        text-align: left;
    }

    .detail-value {
        color: black;
        text-align: right;
    }

    .right-section {
        display: flex;
        justify-content: space-between;
    }

    .self-details-section {
        padding: 10px;
    }

    .self-details-section:hover { border-radius: 10px; }

    .self-section-title {
        color: black;
        font-weight: 600;
        text-align: center;
    }

    .phisical-details-section {
        padding: 10px;
    }

    .title-detail { justify-content: center; }

    .phisical-section-title {
        color: black;
        font-weight: 600;
        text-align: center;
    }

    .page-player-by-id { background-color: white; }
</style>

<div class="page-player-by-id">
    <div class="page">

        <div class="page-head">
            <div class="person">
                <div class="person-image-container">
                    <img class="person-image"
                         src="@Model.Player.Avatar"
                         alt="Person"/>
                </div>
                <div class="page-head-text">
                    <p style="margin-bottom: 0px!important">@Model.Player.Number</p>
                    <p style="margin-bottom: 0px!important">
                        @Model.Player.User.FirstName @Model.Player.User.LastName
                    </p>
                </div>
            </div>
            <p class="person-number-big">@Model.Player.Number</p>
        </div>
        <div class="container-fluid page-main">
            <div class="row page-main-wrap">
                <div class="col left-section">
                    <p class="self-section-title">Club</p>
                    <ul class="basic-details-list">
                        <li class="detail">

                            @if (Model.Player.TeamId != null && Model.Player.TeamId != "")
                            {
                            <span class="detail-name"><img src="@Model.Teams.Find(i => i.Id == Model.Player.TeamId).Avatar" height="35"></span>
                                <span style="vertical-align: middle">@Html.ActionLink(Model.Teams.Find(i => i.Id == Model.Player.TeamId).Name, "Id", "Club", new {Id = Model.Player.TeamId}, new {style = "color: black;"})</span>
                            }
                            else
                            {
                                <span>None</span>
                            }
                        </li>
                        <li class="detail">
                            <span class="detail-name">Position</span><span class="detail-value">@Html.DisplayFor(model => model.Player.Position)</span>
                        </li>
                        <li class="detail">
                            <span class="detail-name">Captain</span>
                            @if (Model.Player.IsCaptain)
                            {
                                <span class="detail-value">Yes</span>
                            }
                            else
                            {
                                <span class="detail-value">No</span>
                            }
                        </li>
                    </ul>
                </div>
                <div style="border-left:1px solid #e5e5e5;margin: 5px"></div>
                <div class="col self-details-section">
                    <p class="self-section-title">Player Details</p>
                    <ul style="padding-top:1px">
                        <li class="detail">
                            <span class="detail-name">Birthdate</span><span class="detail-value">@Model.Player.User.Birthdate.Year/@Model.Player.User.Birthdate.Month/@Model.Player.User.Birthdate.Day</span>
                        </li>
                        @*<li class="detail title-detail"><span class="detail-name">age</span></li>*@
                        <li class="detail">
                            <span class="detail-name">Age</span>
                            <span class="detail-value">
                                @if (DateTime.Now.Month > Model.Player.User.Birthdate.Month || DateTime.Now.Month == Model.Player.User.Birthdate.Month && DateTime.Now.Day >= Model.Player.User.Birthdate.Day)
                                {
                                    <span>@Convert.ToInt64(DateTime.Now.Year - Model.Player.User.Birthdate.Year)</span>
                                }
                                else
                                {
                                    <span>@Convert.ToInt64(DateTime.Now.Year - Model.Player.User.Birthdate.Year - 1) </span>
                                }
                            </span>
                    </ul>
                </div>
                <div style="border-left:1px solid #e5e5e5;margin: 5px"></div>
                <div class="col phisical-details-section">
                    <p class="phisical-section-title">Physical stats</p>
                    <ul style="padding-top: 1px">
                        <li class="detail">
                            <span class="detail-name">Height</span><span class="detail-value">@Model.Player.PhysicalStats.Height</span>
                        </li>
                        <li class="detail">
                            <span class="detail-name">Weight</span><span class="detail-value">@Model.Player.PhysicalStats.Weight</span>
                        </li>
                        <li class="detail">
                            <span class="detail-name">Foot</span><span class="detail-value">@Model.Player.PhysicalStats.Foot</span>
                        </li>

                    </ul>
                </div>
                <div style="border-left:1px solid #e5e5e5;margin: 5px"></div>
                <div class="col phisical-details-section">
                    <p class="phisical-section-title">Statistics</p>
                </div>
            </div>
        </div>

    </div>
</div>