@model MyFootballMvc.ViewModels.EditAccountViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MyFootballMvc.Models
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
    .field-validation-error {
        color: red;
    }

    .input-validation-error {
        border: 2px solid red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("CreateOrUpdate", "Account"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.User.FirstName)
                    @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.User.FirstName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.LastName)
                    @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.User.LastName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.FavoriteTeamId)
                    @Html.DropDownListFor(m => m.User.FavoriteTeamId,
                        new SelectList(Model.Teams,"Id","Name"),"Select Team",new { @class = "form-control"})
                    @Html.ValidationMessageFor(m => m.User.FavoriteTeamId)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.User.Birthdate)
                    @Html.TextBoxFor(m => m.User.Birthdate,
                        string.Format("{0:d}",Model.User.Birthdate.ToShortDateString()),
                        new { @class= "date-picker form-control", type="date" })
                </div>
                @Html.HiddenFor(m => m.User.Id)
                <button type="submit" class="btn btn-primary">Save</button>
            }
        </div>
        <div class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-player-tab"
                       data-toggle="tab" href="#nav-player" role="tab" aria-controls="nav-player" aria-selected="true">Player</a>
                    <a class="nav-item nav-link" id="nav-coach-tab"
                       data-toggle="tab" href="#nav-coach" role="tab" aria-controls="nav-coach" aria-selected="false">Coach</a>
                    <a class="nav-item nav-link" id="nav-staff-tab"
                       data-toggle="tab" href="#nav-staff" role="tab" aria-controls="nav-staff" aria-selected="false">Staff</a>
                    <a class="nav-item nav-link" id="nav-referee-tab"
                       data-toggle="tab" href="#nav-referee" role="tab" aria-controls="nav-referee" aria-selected="false">Refeere</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-player" role="tabpanel" aria-labelledby="nav-player-tab">
                    @using (Html.BeginForm("Player", "Account", FormMethod.Post, new { id = "js-playerForm" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(m => m.User.Player.Position)
                            @*@Html.DropDownList("SelectPosition", Html.GetEnumSelectList<Position>(),
                                        "Select your position", new { @class = "form-control" ,id="js-position"})*@
                            <select class="form-control" asp-for="User.Player.Position" asp-items="Html.GetEnumSelectList<Position>()">
                                <option selected="selected" value="">Please select</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.User.Player.Position)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.User.Player.PhysicalStats.Foot)
                            @*@Html.DropDownList("SelectFoot", Html.GetEnumSelectList<Foot>(),
        "Select your foot", new { @class = "form-control",id="js-foot" })*@
                            <select class="form-control" asp-for="User.Player.PhysicalStats.Foot" asp-items="Html.GetEnumSelectList<Foot>()">
                                <option selected="selected" value="">Please select</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.User.Player.PhysicalStats.Foot)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.User.Player.PhysicalStats.Height)
                            @Html.TextBoxFor(m => m.User.Player.PhysicalStats.Height,
                                new {@class = "form-control",id="js-height" })
                            @Html.ValidationMessageFor(m => m.User.Player.PhysicalStats.Height)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.User.Player.PhysicalStats.Weight)
                            @Html.TextBoxFor(m => m.User.Player.PhysicalStats.Weight,
                                new {@class="form-control",id="js-weight" })
                            @Html.ValidationMessageFor(m => m.User.Player.PhysicalStats.Weight)
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Become a Player</button>
                    }
                </div>
                <div class="tab-pane fade" id="nav-coach" role="tabpanel" aria-labelledby="nav-coach-tab">
                    <p>coach</p>
                </div>
                <div class="tab-pane fade" id="nav-staff" role="tabpanel" aria-labelledby="nav-staff-tab">
                    <p>staff</p>
                </div>
                <div class="tab-pane fade" id="nav-referee" role="tabpanel" aria-labelledby="nav-referee-tab">
                    <p>referee</p>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $("#js-playerForm").submit(function (e) {
            e.preventDefault();

            var position = $("#js-position").val();
            var foot = $("#js-foot").val();
            var height = $("#js-height").val();
            var weight = $("#js-weight").val();

            var ps = { Foot: foot, Height: height, Weight: weight};

            var player = { Position: position, PhysicalStats:ps};

            $.ajax({
                url: "Player/",
                method: "POST",
                contentType:"application/json",
                dataType: "json",
                data: JSON.stringify(player)
            }).done(function () {
                alert("done");
            });

        });
    });
</script>


