@model MyFootballMvc.ViewModels.LayoutViewModel
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - MyFootballMvc</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css"/>
		<link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css"/>
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css."
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top main-nav">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown tournament-menu-item @(Model.ActiveMenuItem == "tournaments" ? "active" : "")">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tournaments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <ul role="menu">
                    @foreach (var tournament in Model.Tournaments)
                    {
                      <li><a class="dropdown-item" asp-controller="Tournament" asp-action="Index" asp-route-tournamentId="@tournament.Id">@tournament.Name</a></li>
                    }
                  </ul>
                </div>
            </li>
            
            <li class="nav-item @(Model.ActiveMenuItem == "pitchfinder" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="PitchFinder" asp-action="Index">PitchFinder</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "test" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="Test" asp-action="Index">Test</a>
            </li>
        </ul>
        
        <span class="navbar navbar-dark bg-dark">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Model.UserName
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" asp-controller="Account" asp-action="Edit">My Profile</a>
                    @if (Model.HasTeams)
                    {
                        <a class="nav-link" asp-controller="Teams" asp-action="Index">My Team</a>
                    }
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>

      <span class="navbar navbar-dark bg-dark">
        @if (User.Identity.IsAuthenticated)
        {
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            @Model.UserName
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="nav-link" asp-controller="Account" asp-action="Edit">My Profile</a>
            @if (Model.HasTeams)
            {
              <a class="nav-link" asp-controller="Teams" asp-action="Index">My Team</a>
            }
            @if (Model.HasPitches)
            {
              <a class="nav-link" asp-controller="Pitch" asp-action="Index">My Pitches</a>
            }
            <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>

            @if(Model.IsEditPage && !Model.HasTeams)
            {
                <a class="nav-link" asp-controller="Teams" asp-action="Create">Create a Team</a>
            }

        </span>

    </div>
</nav>


  <partial name="_CookieConsentPartial" />

<div class="body-content">
    @RenderBody()
</div>

<footer>
  <p>&copy; 2018 - MyFootballMvc</p>
</footer>

<environment include="Development">
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<script src="~/lib/jquery-validate/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
	<script src="~/lib/bootbox.js/bootbox.js"></script>
	<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
	

	<script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
			asp-fallback-test="window.jQuery"
			crossorigin="anonymous"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN">
	</script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
			asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
			crossorigin="anonymous"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl">
	</script>
	<script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

  @RenderSection("Scripts", required: false)
</body>
</html>
