
@model MyFootballMvc.ViewModels.LeagueViewModel
@{
  Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid fixed-top subnav">
    <a class="navbar-brand league-name" asp-area="" asp-controller="League" asp-action="Index" asp-route-tournamentId="@Model.Tournament.Id">
      <img src="@Model.Tournament.ImagePath" alt="League logo" height="42" width="42" />
      @Model.Tournament.Name
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#leagueNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="leagueNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item @(Model.ActiveMenuItem == "fixtures" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="Fixtures" asp-route-tournamentId="@Model.Tournament.Id">Fixtures</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "results" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="Results" asp-route-tournamentId="@Model.Tournament.Id">Results</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "tables" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="Tables" asp-route-tournamentId="@Model.Tournament.Id">Tables</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "leagueClubs" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="Clubs" asp-route-tournamentId="@Model.Tournament.Id">Clubs</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "leaguePlayers" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="Players" asp-route-tournamentId="@Model.Tournament.Id">Players</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "leagueManagers" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="Managers" asp-route-tournamentId="@Model.Tournament.Id">Managers</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "news" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="News" asp-route-tournamentId="@Model.Tournament.Id">News</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "social" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="Social" asp-route-tournamentId="@Model.Tournament.Id">Social</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "history" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="History" asp-route-tournamentId="@Model.Tournament.Id">History</a>
            </li>
            <li class="nav-item @(Model.ActiveMenuItem == "leagueReferees" ? "active" : "")">
                <a class="nav-link" asp-area="" asp-controller="League" asp-action="Referees" asp-route-tournamentId="@Model.Tournament.Id">Referees</a>
            </li>
        </ul>
        
        
        <span class="navbar navbar-dark">
            @if (User.Identity.IsAuthenticated && Model.HasTeams && !Model.Tournament.IsGenerated)
            {
                @if (User.Identity.IsAuthenticated && Model.HasTeams && !Model.Tournament.IsGenerated && Model.League.Teams.Any(x=>x.President.Id==Model.UserId))
                 {
                     <b>Joined</b>
                }
                else
                {
                    <a class="nav-link" asp-controller="League" asp-action="Join" asp-route-tournamentId="@Model.Tournament.Id">Join the Tournament</a>
                }

            }

        </span>

    </div>
  </nav>
    
<div class="body-content">
    <div class="page-tournaments main-container">
        @RenderBody()
    </div>
</div>

</body>
</html>
