@model MyFootballMvc.ViewModels.RefereeViewModel

@{
  ViewData["Title"] = "Referee";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner bcolor-7">
    <h2 class="banner-header">@Model.Referee.User.FirstName @Model.Referee.User.LastName</h2>
</div>

<div class="page-referee-by-id main-container container">

  <div class="main-content">
    <ul>
      <li>@Html.LabelFor(r => r.Referee.User.FirstName): @Model.Referee.User.FirstName</li>
      <li>@Html.LabelFor(r => r.Referee.User.LastName): @Model.Referee.User.LastName</li>
      <li>@Html.LabelFor(r => r.Referee.License): @Model.Referee.License</li>
    </ul>
  </div>
</div>
