@model MyFootballMvc.ViewModels.PitchViewModel

@{
  ViewData["Title"] = "Pitch";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner bcolor-3">
  <h2 class="banner-header">@Model.Pitch.Name</h2>
</div>

<div class="page-pitch-by-id main-container container">

  <div class="main-content">
    <div class="row">
      <div class="col-4">
        <ul class="pitch-info">
          <li>@Html.LabelFor(p => p.Pitch.Name): @Model.Pitch.Name</li>
          <li>@Html.LabelFor(p => p.Pitch.Owner): @Model.Pitch.Owner</li>
          <li>@Html.LabelFor(p => p.Pitch.PitchLength): @Model.Pitch.PitchLength</li>
          <li>@Html.LabelFor(p => p.Pitch.PitchWidth): @Model.Pitch.PitchWidth</li>
          <li>@Html.LabelFor(p => p.Pitch.Surface): @Model.Pitch.Surface</li>
          <li>@Html.LabelFor(p => p.Pitch.AreaType): @Model.Pitch.AreaType</li>
          <li>@Html.LabelFor(p => p.Pitch.HasFieldHeating): @Model.Pitch.HasFieldHeating</li>
          <li>@Html.LabelFor(p => p.Pitch.HasLigthing): @Model.Pitch.HasLigthing</li>
          <li>@Html.LabelFor(p => p.Pitch.HasLockerRoom): @Model.Pitch.HasLockerRoom</li>
          <li>@Html.LabelFor(p => p.Pitch.PricePerHour): @Model.Pitch.PricePerHour</li>
          <li>@Html.LabelFor(p => p.Pitch.StartTime): @Model.Pitch.StartTime</li>
          <li>@Html.LabelFor(p => p.Pitch.EndTime): @Model.Pitch.EndTime</li>
        </ul>
      </div>

      <div class="map-wrapper col-8">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="single-pitch-map" class="map"></div>
      </div>
    </div>



  </div>
</div>

@section Styles {
  <link href="~/css/map.css" rel="stylesheet" />
}

@section Scripts {
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ7Z7BTT3qc3OKHAklScK4hPjYHzUWNJ0&libraries=places&callback=initAutocomplete"
          async defer></script>
  <script src="~/js/map.js"></script>

  <script>
    var mapLocation = { lat: @Model.Pitch.GeoLat, lng: @Model.Pitch.GeoLong };
  </script>
}

