@model MyFootballMvc.ViewModels.LeagueViewModel
@{
    ViewData["Title"] = "Clubs";
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<div class="banner bcolor-2">
    <h2 class="banner-header">Clubs</h2>
</div>

<div class="main-content container">
    <table class="table table-striped table-bordered" id="clubs-table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">ShortName</th>
            <th scope="col">President</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var team in Model.League.Teams)
        {
            <tr>
                <td>@Html.ActionLink(@team.Name, "Id","Club", new { team.Id }, null)</td>
                <td>@team.ShortName</td>
                <td>@team.President.FirstName @team.President.LastName</td>
            </tr>
        }
        </tbody>
    </table>
</div>