@model MyFootballMvc.ViewModels.LeagueViewModel
@{
    ViewData["Title"] = "Fixtures";
    Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}
<head>
    <style>

    </style>
</head>
<body>
    <div class="banner">
        <h2 class="col-10 offset-1">Fixtures</h2>
    </div>

    <div class="main-content container">
        @if (Model.FixtureViewItem.IsGenerated)
        {
            @foreach (var tour in Model.FixtureViewItem.Tours)
            {
                var i = 1;
                <br />
                if (!tour.IsPlayed)
                {
                    <h2><i>Tour @i</i></h2><br /><hr />
                }

                ++i;
                @foreach (var match in tour.Matches)
                {
                    if (match.MatchDateTime > DateTime.Now)
                    {
                        <div id="div-fixture">
                            <p id="p-fixture" style="float:left;">@Html.ActionLink(@match.Team1.Name, "Id", "Club", new { match.Team1.Id }, null)</p> 
                            <a id="a-fixture" href="@Html.ActionLink(null, "Id","Match", new { match.Id})" class="badge badge-primary">@match.MatchDateTime</a>
                            <p id="p-fixture" style="float:right;">@Html.ActionLink(@match.Team2.Name,"Id", "Club", new { match.Team2.Id })</p>
                        </div>
                        <br/>
                    }
                    else
                    {
                        return;
                    }
                }
            }
        }
        else
        {
            <h3>@Model.Tournament.Name hasn't generated yet.</h3>
        }
    </div>
</body>