@model MyFootballMvc.ViewModels.LeagueViewModel
@{
  ViewData["Title"] = "Players";
  Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<div class="banner">
  <h2 class="col-10 offset-1">Players</h2>
</div>

<div class="main-content container">
    <table class="table table-striped" id="players-table">
        <thead>
            <tr>
                <th scope="col">Club</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Position</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in Model.League.Teams)
            {
                foreach (var player in team.Players)
                 {
            <tr>
                <td>@Html.ActionLink(@team.Name, "Id", "Club", new { player.Id })</td>
                <td>@Html.ActionLink(@player.User.FirstName, "Id", "Player", new { player.Id })</td>
                <td>@Html.ActionLink(@player.User.LastName, "Id", "Player", new { player.Id })</td>
                <td>@player.Position</td>
                <td>@player.Number</td>
            </tr>
                 }
            }
        </tbody>
    </table>
</div>