@model MyFootballMvc.ViewModels.LeagueViewModel
@{
  ViewData["Title"] = "Players";
  Layout = "~/Views/Shared/_LeagueLayout.cshtml";
}

<div class="banner bcolor-2">
  <h2 class="banner-header">Players</h2>
</div>

<div class="main-content container">
    @if(Model.Players.Count != 0)
    { 
    <table class="table table-striped" id="players-table">
            <thead>
                <tr>
                    <th scope="col">Club</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in Model.Players)
                {
                        <tr>
                            <td>@Html.ActionLink(Model.League.Teams.Find(i => i.Id == player.TeamId).Name, "Id", "Club", new { player.TeamId })</td>
                            <td>@Html.ActionLink(@player.User.FirstName, "Id", "Player", new { player.Id }) @Html.ActionLink(@player.User.LastName, "Id", "Player", new { player.Id })</td>
                            <td>@Html.DisplayFor(model => player.Position)</td>
                            <td>@player.Number</td>
                        </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p id="none"> There isn't any player in this League...</p>
    }
</div>