@model MyFootballMvc.ViewModels.ClubViewModel

@{
    ViewData["Title"] = "Clubs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner bcolor-4">
    <h2 class="banner-header">Clubs</h2>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<div class="page-clubs main-container container">

    <div class="main-content">
        <table class="table table-striped table-bordered" id="js-clubs-table">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Short name</th>
                    <th scope="col">President</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var club in Model.Clubs)
                {
                    <tr>
                        <td>@Html.ActionLink(@club.Name, "Id", new { club.Id })</td>
                        <td>@club.ShortName</td>
                        <td>@club.President.LastName @club.President.FirstName</td>
                    </tr>
                }
            </tbody>
        </table>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#js-clubs-table').DataTable();
            });
        </script>
    </div>
</div>


